@import 'normalize.css';
@import 'global.css';
li{
    list-style: none;
}
ul{
    padding: 0;
    margin: 0;
}
.lf{
    float: left;
}
.rh{
    float: right;
}
.c1{
    clear: both;
}
input:focus{
    outline: none;
}
i{
    font-style: normal;
}