.social-share a{position:relative;text-decoration:none;margin:0 16px;display:inline-block;outline:none
}
.social-share .social-share-icon{position:relative;display:inline-block;width:21px;height:21px;
}
.social-share .social-share-icon:hover{background:#666;color:#fff
}
.social-share .icon-weibo{background: url("~@/assets/img/footer/weibo.png") no-repeat; margin-left: 45px;
}
.social-share .icon-weibo:hover{background: url("~@/assets/img/footer/weibo.png") no-repeat;
}
.social-share .icon-linkedin{background: url("~@/assets/img/footer/linkedin.png") no-repeat;
}
.social-share .icon-linkedin:hover{background: url("~@/assets/img/footer/linkedin.png") no-repeat;
}
.social-share .icon-facebook{background: url("~@/assets/img/footer/facebook.png") no-repeat;
}
.social-share .icon-facebook:hover{background: url("~@/assets/img/footer/facebook.png") no-repeat;
}
.social-share .icon-twitter{background: url("~@/assets/img/footer/twitter.png") no-repeat
}
.social-share .icon-twitter:hover{background: url("~@/assets/img/footer/twitter.png") no-repeat
}

.social-share .icon-wechat{position:relative;background: url("~@/assets/img/footer/wechat.png") no-repeat
}
.social-share .icon-wechat:hover{background: url("~@/assets/img/footer/wechat.png") no-repeat
}
.social-share .icon-wechat .wechat-qrcode{display:none;border:1px solid #eee;position:absolute;z-index:9;top:-205px;left:-84px;width:200px;height:192px;color:#666;font-size:12px;text-align:center;background-color:#fff;box-shadow:0 2px 10px #aaa;transition:all 200ms;-webkit-tansition:all 350ms;-moz-transition:all 350ms
}
.social-share .icon-wechat .wechat-qrcode.bottom{top:40px;left:-84px
}
.social-share .icon-wechat .wechat-qrcode.bottom:after{display:none
}
.social-share .icon-wechat .wechat-qrcode h4{font-weight:normal;height:26px;line-height:26px;font-size:12px;background-color:#f3f3f3;margin:0;padding:0;color:#777
}
.social-share .icon-wechat .wechat-qrcode .qrcode{width:105px;margin:10px auto
}
.social-share .icon-wechat .wechat-qrcode .qrcode table{margin:0 !important
}
.social-share .icon-wechat .wechat-qrcode .help p{font-weight:normal;line-height:16px;padding:0;margin:0
}
.social-share .icon-wechat .wechat-qrcode:after{content:'';position:absolute;left:50%;margin-left:-6px;bottom:-13px;width:0;height:0;border-width:8px 6px 6px 6px;border-style:solid;border-color:#fff transparent transparent transparent
}
.social-share .icon-wechat:hover .wechat-qrcode{display:block
}
